[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.8"
