[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
uvicorn = {extras = ["standard"], version = "*"}
alembic = "==1.8.1"
psycopg2-binary = "==2.9.3"
python-multipart = "==0.0.5"
pyjwt = "==2.4.0"
python-jose = "==3.3.0"
passlib = "==1.7.4"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
autoflake = "*"
mypy = "==0.961"

[requires]
python_version = "3.8"
